node_modules
.next
.next/**/*

git remote add origin https://katalyst33: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@github.com/Katalyst33/landing.git

git config user.name "katalyst33"

bun.lockb
*.xml
*.xml

.idea

.env
.vercel/**/*
